:root {
    --width-scale: min(700px, 80vw, 80vh);
    --height-scale: calc(var(--width-scale) * 0.714);
    --game-title-size: min(calc(var(--height-scale) * 0.1), 2em);
    --title-margin-bottom: calc(var(--height-scale) * 0.25);
}

.craps-game {
    background-image: url('../images/craps-game-background.jpg');
    background-position: center top;
    background-size: cover;      /* 🔥 This is the key */
    background-repeat: no-repeat;
    color: white;
    padding: 1px;
}

.craps-game-title {
    font-size: var(--game-title-size);
    text-align: center;
    margin-top: calc((100vh - var(--game-title-size) - var(--title-margin-bottom) - var(--height-scale)) / 2);
    margin-bottom: var(--title-margin-bottom);
}

.craps-game-container {
    width: var(--width-scale);
    height: var(--height-scale);
    border: solid white 2px;
    margin: 0 auto;
    background-image: url('../images/crapstable.png');
    background-size: cover;
    background-position: center top;
}

#craps-registration-pane {
    margin-top: 55px;
    text-align: center;
}

.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin-top: 25px;
    color: white;
    text-align: center;
}

.craps-registration-input:focus {
    outline-width: 0;
}

.craps-registration-continue {
    margin-top: 25px;
}

.craps-registration-continue:hover {
    cursor: pointer;
    font-weight: bold;
}

#craps-main-section {
    display: none;
    height: 100%;
    position: relative;   /* 🔥 ADD THIS */
}

.craps-main-section-stats {
    text-align: center;
    font-size: calc(var(--height-scale) * 0.04);
    margin-top: calc(var(--height-scale) * 0.15);
}

#craps-stats-money-container {
    font-size: calc(var(--height-scale) * 0.085);
    margin-top: calc(var(--height-scale) * 0.04);
}

.craps-round-manager {
    border: solid blue 4px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: calc(var(--height-scale) * 0.18);
    font-size: calc(var(--height-scale) * 0.04);
}