#stock-analysis-dashboard {
    min-height: 100vh;
    background-image: url('../images/city-sky-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}